<div class="jumbotron">
             <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <img src="https://cdn3.iconfinder.com/data/icons/business-and-finance-icons/512/Business_Man-512.png" img-thumbnail class="img-thumbnail"> 
                  </div>
                   <div class="col-md-8 col-sm-8 col-xs-8">
                        <h4>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                             when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        </h4>
                        <p>
               <button type="button" class="btn btn-outline-success">Book Now</button>
                <button type="button" class="btn btn-outline-primary form-inline">Go Back</button>
                        </p>
                   </div>
            </div>
         </div>