<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"  crossorigin="anonymous">     
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"  crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style2.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  
    </head>

    <body>

        <!---Navigation--->

	    <nav class="navbar navbar-expand-sm fixed-top ">
		    <a class="navbar-brand" href="#">Book My Service</a>
            <!----- items in toggle button and icon---->
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="   navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!----- items for collapsing---->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav justify-content-end navbar-nav ml-auto" >
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-tie"></i> Become A Professional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-users"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user"></i> Login</a>
                    </li>
                </ul> 
            </div>
        </nav>

        <br><br><br>

        <div class="row">

            <div class="col col-lg-1">

                

            </div>

            <div class="col col-lg-10" >
                <div class="jumbotron jumbotron-fluid">
                    <div class="box"> 
                        <div class="container-1"> 
                            <input type="search" id="search" placeholder="Search for a service">
                        </div> 
                    </div>
                </div>
				
                <div class="container-fluid" id="wedding">
                <h2>Wedding</h2>
                      <div class="row">
                 <div class="col-lg-12">
                
         
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <!--first slides-->
        <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/weddingphotographer.jpg" alt="Card image cap">
  <div class="card-body">
    
    
  </div>
</div>
<a href="#" class="btn btn-primary">Photographer</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/Musician.jpg" alt="Card image cap">
  <div class="card-body">
    
    
  </div>
</div>
<a href="#" class="btn btn-primary">Musician</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/caterer.jpg" alt="Card image cap">
  <div class="card-body">
    

  </div>
</div>
    <a href="#" class="btn btn-primary">Caterer</a>
            </div>
            
        </div>
    </div>
        <!--second  slides-->
    <div class="carousel-item">
        
      <div class="row">
	  
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/weddingmakeup.jpg" alt="Card image cap">
  <div class="card-body">
   
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Hairstyling & Makeup</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/choreographer.jpg" alt="Card image cap">
  <div class="card-body">
    
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Choreographer</a>
            </div>
			   <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/bartender.jpg" alt="Card image cap">
  <div class="card-body">
   
    
  </div>
</div>
<a href="#" class="btn btn-primary">Bartender</a>
            </div>
            
            
        </div>
        
    </div>
       

  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
         
      
                 </div>
             </div>
                </div>

                <br>

                <div class="container-fluid">
                <h2>Day To Day Services</h2>
                           <div class="row">
                 <div class="col-lg-12">
                
         
         <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicator" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicator" data-slide-to="1"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <!--first slides-->
        <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/painter.jpg" alt="Card image cap">
  <div class="card-body">
  
    
  </div>
</div>
<a href="#" class="btn btn-primary">Painter</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/carpenter.jpg" alt="Card image cap">
  <div class="card-body">
    
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Carpenter</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/plumber.jpg" alt="Card image cap">
  <div class="card-body">
    
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Plumber</a>
            </div>
            
        </div>
    </div>
        <!--second  slides-->
    <div class="carousel-item">
        
      <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/electrician.jpg" alt="Card image cap">
  <div class="card-body">
   
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Electrician</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/laundryironing.jpg" alt="Card image cap">
  <div class="card-body">
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Laundry and Ironing</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/pestcontrol.jpg" alt="Card image cap">
  <div class="card-body">
    
    
  </div>
</div>
<a href="#" class="btn btn-primary">Pest Control</a>
            </div>
            
        </div>
        
    </div>
 
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicator" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicator" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
         
      
                 </div>
             </div>
         </div>       
      
      
                <br>

                <div class="container-fluid">
                <h2>Applicance repair</h2>
             <div class="row">
                 <div class="col-lg-12">
                
         
         <div id="carouselExampleIndicato" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicato" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicato" data-slide-to="1"></li>
   
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <!--first slides-->
        <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/acrepair.jpg" alt="Card image cap">
  <div class="card-body">
    
  </div>
</div>
<a href="#" class="btn btn-primary">AC Repair</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/refrigeratorrepair.jpg" alt="Card image cap">
  <div class="card-body">
  
  </div>
</div>
<a href="#" class="btn btn-primary">Refrigerator Repair</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/washingmachingrepair.jpg" alt="Card image cap">
  <div class="card-body">
   
    
  </div>
</div>
<a href="#" class="btn btn-primary">Washingmaching Repair</a>
            </div>
            
        </div>
    </div>
        <!--second  slides-->
    <div class="carousel-item">
        
      <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/waterpurifierrepair.jpg" alt="Card image cap">
  <div class="card-body">
    
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Water Purifier Repair</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/microwaverepair.jpg" alt="Card image cap">
  <div class="card-body">
   
    
  </div>
</div>
<a href="#" class="btn btn-primary">Microwave Repair</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/mobilerepair.jpg" alt="Card image cap">
  <div class="card-body">
   
    
  </div>
</div>
<a href="#" class="btn btn-primary">Mobile Repair</a>
            </div>
            
        </div>
        
    </div>
     
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicato" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicato" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
         
      
                 </div>
             </div>
         </div>       
      

 
                <br>
            
                <div class="container-fluid">
                    <h2>Beauty and Spa</h2>
              <div class="row">
                 <div class="col-lg-12">
                
         
         <div id="carouselExampleIndicat" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicat" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicat" data-slide-to="1"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <!--first slides-->
        <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/mahendi.jpg" alt="Card image cap">
  <div class="card-body">
   
    
  </div>
</div>
<a href="#" class="btn btn-primary">Mahendi Artist</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/hairstylingmen.jpg" alt="Card image cap">
  <div class="card-body">
  
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Hairstyling for Men</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/hairstylingforwomen.jpg" alt="Card image cap">
  <div class="card-body">
   
  </div>
</div>
<a href="#" class="btn btn-primary">Hairstyling for Women</a>
            </div>
            
        </div>
    </div>
        <!--second  slides-->
    <div class="carousel-item">
        
      <div class="row">
            <div class="col col-lg-4">
                <div class="card"   >
  <img class="card-img-top" src="img/makeupartist.jpg" alt="Card image cap">
  <div class="card-body">
   
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Makeup Artist</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/massagemen.jpg" alt="Card image cap">
  <div class="card-body">
   
   
  </div>
</div>
 <a href="#" class="btn btn-primary">Massage Service</a>
            </div>
            
             <div class="col col-lg-4">
                     <div class="card"   >
  <img class="card-img-top" src="img/salonathome.jpg" alt="Card image cap">
  <div class="card-body">
   
  </div>
</div>
    <a href="#" class="btn btn-primary">Salon at Home</a>
            </div>
            
        </div>
        
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicat" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicat" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
         
      
                 </div>
             </div>
         </div>       
      
      <br>
            </div>

            <div class="col col-lg-1">



            </div>

        

        </div>

        <div class="row" id="footer">

            <div class="col col-lg-1">


            </div>

            <div class="col col-lg-10" >

                <div class="row">

                    <div class="col col-lg-4">
                        <p class="footerlink"><a href="https://www.google.com">About BMS</a></p>
                    </div>
                        
                    <div class="col col-lg-4">
                        <p class="footerlink"><a href="https://www.google.com">Terms & Condition</a></p>                           
                    </div>

                    <div class="col col-lg-4">
                        <p class="footerlink"><a href="https://www.google.com">Contact Us</a></p>                           
                    </div>

                        
                       
                        
                        

                </div>

            </div>

            <div class="col col-lg-1">

            </div>

            


        </div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script> 
    </body> 
</html>
